header{
    max-width: 100%;
    padding: 5px;
    background-color: gray;
    border-radius: 0 0 15px 15px;
}

h1 {
    font-size: 100px;
    text-align: center;
}

#navigation-tools {
    display: flex;
    justify-content: center
}

.dropdown {
    margin-left: 1.5em;
    justify-content: center;
}

nav {
    margin-left: 1.5em;
    margin-bottom: 5px;
    border-radius: 5px;
}

h5 {
    font-size: 2.2em;
}

p {
    font-size: 1.5em;
    font-weight: 600;
}

.card img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

#card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 25em));
    grid-gap: 40px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 4em;
}
