.custom-header {
    height: 120px;
}

.navbar {
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar-brand {
    font-size: 2.5rem;
}

.nav-link {
    font-size: 1.4rem;
}

.navbar-collapse {
    align-items: center;
}

.form-control {
    height: 50px;
    font-size: 1.4rem;
    padding: 10px;
}

.btn {
    padding: 0 15px;
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: white;
}

#card-container {
    margin: 0 auto;
    padding: 20px;
}

.row {
    justify-content: center;
    gap: 30px;
}

.card {
    cursor: pointer;
    max-width: 400px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    padding: 1.5rem;
}

.card-title {
    font-size: 2rem;
    font-weight: bold;
}

.card-text {
    font-size: 1.25rem;
}

@media (min-width: 576px) {
    .card-title {
        font-size: 1.75rem;
    }

    .card-text {
        font-size: 1.5rem;
    }
}

.page-item {
    width: 45px;
}
